# Directories #
target
test-output
Screenshots
.metadata
GenieLogs
src/test/resources/drivers
allure-results
# src/test/resources/Driver
ScoresImportExport
Config.properties

# Eclipse Files #
.project
.classpath
.settings
.idea
.log

# OS Files #
.DS_Store

# IntelliJ Files #
*.iml

# Execution Files
src/test/resources/testdata/COMMON/execution.sq3
/bin/
